/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Custom Properties */
:root {
    --background: #FDFDFD;
    --text-color: hsl(0, 0%, 0%, 40%);
    --gradient-orange: #FF6B00;
    --circle-gradient: hsl(25, 100, 50, 10%);
    --paragraph-color: #4E4E4E;
}


/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

/* ------------------- */
/* Desktop Styles      */
/* ------------------- */

body {
    background-color: var(--background);
}

section {
    padding:2vh 4vw;  
}

/* Header/Menu */

header {
    height: 3vh;
    display: flex;
    flex-direction: row;
    font-size: 1.25vw;
    margin:5vh 4vw;
}

header * {
    display: inline-block;
}

#logo {
    height: 3vh;
}
#menu {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    margin: 0 3vw;
}

.menu--link {
    line-height: 2.5vh;
    color: var(--text-color);
    text-decoration: none;
    overflow: hidden;
}

/*---------------- Main -------------*/

/* Section 1 */

#section1 {
    padding:4vh 4vw 2vh 4vw;
}

#introduction {
    font-size: 1.5vw;
    color: var(--text-color);
    margin: 0;
}

#introduction-heading {
    width: 50vw;
    font-size: 4.5vw;
    font-weight: 600;
    line-height:6vw;
    margin: 2vh 0 0 0;
    overflow: hidden;
}

.button-orange {
    height: 2.2vw;
    width: 18vw;
    display: block;
    margin: 3vh 0;
    padding:0 2vw;
    border-radius: 20px;
    background-color: var(--gradient-orange);
    font-size: 1.25vw;
    text-decoration: none;
    color: var(--background);
    line-height: 2.2vw;
    overflow: hidden;
}
.button-orange > img{
    height: 1.4vw;
    margin: 0.4vw 0 0.4vw 1vw;
    position: absolute;
    display: inline;
}

#circle {
    height: 30vw;
    width: 30vw;
    position: absolute;
    top: 11vh;
    left: 35vw;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #ff6a0015, #fdfdfd2b);
}



/* Vertical Divider */
.vertical-divider {
    height: 16vh;
    width: 1px;
    margin: 3vh auto;
    background-color: rgb(193, 187, 187);
}



/* -----------------Section2--------------- */


#featured-projects {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid rgba(211, 211, 211, 0.308);
}

#featured-heading {
    text-align: center;
    font-size: 2.5vw;

}

.project {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.project span {
    width: 35vw;
    margin-bottom: 1.15vh;
}


.featured-project-name {
    margin: 0;
    font-weight: 500;
}

.featured-links {
    color: var(--text-color);
    text-decoration-color:var(--text-color);
    font-size: 1.15vw;
    display: inline;
}

.featured-project-image {
    width: 35vw;
    display: block;
}

#featured-projects p {
    width: 35vw;
    font-size: 1.25vw;
    color: var(--paragraph-color);
    margin: 0;
}



#view-all-button {
    height: 2.4vw;
    width: 14vw;
    display: block;
    border: 1px solid var(--paragraph-color);
    color: var(--paragraph-color);
    text-decoration: none;
    font-size: 1.25vw;
    border-radius: 15px;
    text-align: center;
    line-height: 2.4vw;
    overflow: hidden;
    margin: 5vh auto;
}

/* -------------Section 3 ------------------ */

#section3 {
    width: 100vw;
    height: 45vh;
    background-image: linear-gradient(#FF6B00, #FDFDFD);
    text-align: center;
    padding: 7vh 0 0 0;
}

#section3 >span>h3, #email{
    display: inline;
    position:static;
    font-size: 5vw;
    margin:6vw 5px;
    font-weight: 600px;
    text-align: center;
    color: var(--background);
}





/* -----------Footer------------- */
footer {
    width: 100%;
    padding:0 4vw;
    display: flex;
    justify-content: space-between;
}

footer > a, #link-group > a{
    color: var(--gradient-orange);
    text-decoration: none;
    font-size: 0.85vw;
    margin: 0 1vw;
    font-weight: 500;
}
